<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anoki"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.anoki.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.anoki.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.anoki" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".user.InputPhoneNumberActivity"
            android:label="@string/title_activity_input_phone_number"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.InputAuthCodeActivity"
            android:label="@string/title_activity_input_auth_code"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.SetNameActivity"
            android:label="@string/title_activity_set_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RecentActivity"
            android:icon="@drawable/logo_small"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".etc.AlarmListActivity"
            android:label="최근알림"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.MessageListActivity"
            android:label="쪽지"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.WriteActivity"
            android:label="글쓰기"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".MeTabActivity" >
        </activity>
        <activity android:name=".RecentTabActivity" >
        </activity>
        <activity
            android:name=".user.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.PrayerDetailActivity"
            android:label="@string/title_activity_prayer_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.GalleryActivity"
            android:label="미디어 선택"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.ChooseContactsActivity"
            android:label="@string/title_activity_choose_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.ZoomInActivity"
            android:label="@string/title_activity_zoom_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.BillingActivity"
            android:label="@string/title_activity_billing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.PrayerActivity"
            android:label="@string/title_activity_prayer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.UserPrayerListActivity"
            android:label="@string/title_activity_user_prayer_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.ChargeActivity"
            android:label="@string/title_activity_charge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.ChangeNameActivity"
            android:label="@string/title_activity_change_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.ChangeStateActivity"
            android:label="@string/title_activity_change_state"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.AccountActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.ChangePassActivity"
            android:label="@string/title_activity_change_pass"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.RestoreActivity"
            android:label="@string/title_activity_restore"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".prayer.ResponseActivity"
            android:label="@string/title_activity_response"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".FriendTabActivity" >
        </activity>
        <activity
            android:name=".user.ForgotActivity"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.ForgotPassActivity"
            android:label="@string/title_activity_forgot_pass"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.ForgotAccountActivity"
            android:label="@string/title_activity_forgot_account"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.BoxActivity"
            android:label="@string/title_activity_box"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".MoreTabActivity" >
        </activity>
        <activity
            android:name=".prayer.ResponseListActivity"
            android:label="@string/title_activity_response_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.ChooseFriendActivity"
            android:label="@string/title_activity_choose_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".user.DalantActivity"
            android:label="@string/title_activity_dalant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".etc.FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name=".etc.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".etc.VersionActivity"
            android:label="@string/title_activity_version" >
        </activity>
        <activity
            android:name=".user.PassActivity"
            android:label="@string/title_activity_pass" >
        </activity>
        <activity
            android:name=".etc.AlarmSettingActivity"
            android:label="@string/title_activity_alaram_setting" >
        </activity>
        <activity
            android:name=".GroupTabActivity"
            android:label="@string/title_activity_group_tab" >
        </activity>
        <activity
            android:name=".team.NewTeamActivity"
            android:label="@string/title_activity_new_team" >
        </activity>
        <activity
            android:name=".team.TeamTypeActivity"
            android:label="@string/title_activity_team_type" >
        </activity>
        <activity
            android:name=".team.TeamLimitActivity"
            android:label="@string/title_activity_team_limit" >
        </activity>
        <activity
            android:name=".team.TeamMainActivity"
            android:label="@string/title_activity_team_main" >
        </activity>
        <activity
            android:name=".team.TeamChargeActivity"
            android:label="@string/title_activity_team_charge" >
        </activity>
        <activity
            android:name=".team.TeamBillingActivity"
            android:label="@string/title_activity_team_billing" >
        </activity>
        <activity
            android:name=".prayer.RequestListActivity"
            android:label="@string/title_activity_request_list" >
        </activity>
        <activity
            android:name=".team.TeamSearchActivity"
            android:label="@string/title_activity_team_search" >
        </activity>
        <activity
            android:name=".team.TeamDetailActivity"
            android:label="@string/title_activity_team_detail" >
        </activity>
        <activity
            android:name=".team.TeamInviteActivity"
            android:label="@string/title_activity_team_invite" >
        </activity>
        <activity
            android:name=".BlockedActivity"
            android:label="@string/title_activity_blocked" >
        </activity>
        <activity
            android:name=".SetPassActivity"
            android:label="@string/title_activity_set_pass" >
        </activity>
        <activity
            android:name=".CheckPassActivity"
            android:label="@string/title_activity_check_pass" >
        </activity>
        <activity
            android:name=".team.TeamSettingsActivity"
            android:label="@string/title_activity_team_settings" >
        </activity>
        <activity
            android:name=".team.TeamMembersActivity"
            android:label="@string/title_activity_team_members" >
        </activity>
        <activity
            android:name=".team.TeamAuthActivity"
            android:label="@string/title_activity_team_auth" >
        </activity>
        <activity
            android:name=".team.TeamLeaderActivity"
            android:label="@string/title_activity_team_leader" >
        </activity>
        <activity
            android:name=".team.SetLeadersActivity"
            android:label="@string/title_activity_set_leaders" >
        </activity>
        <activity
            android:name=".TeamTransferActivity"
            android:label="@string/title_activity_team_transfer" >
        </activity>
    </application>

</manifest>
